# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

easyblog-web-backend-common/target
easyblog-web-backend-core/target
easyblog-web-backend-web/target
.idea/
log/
